/criptoExchangeApplication/target/

nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash

build/
dist/

**/nb-configuration.xml

*.log

maven-archiver/
maven-status/
target/

*.class
*.jar
*.war
*.ear

.DS_Store
Thumbs.db

.idea/
*.iml

*.jhm